

<section class="form-section">
    <div class="text">
        <h3>fique por dentro das tendências</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, autem libero dolores id corrupti a iure veritatis voluptatibus sapiente explicabo eligendi! Iste esse corporis porro iusto sint quidem, ratione ullam.</p>
    </div>
    <form>
        <label for="email">Name</label>
        <input id="name">
        <label for="email">Email</label>
        <input id="email">
        <app-btn-primary>
    
        </app-btn-primary>
    </form>
</section>
