
<app-header></app-header>

<main>
    <section class="main-section">
        <div class="headline">
            <span>VICTOR CONSULTORIA</span>
            <h1>A consultoria que você busca para o seu software.</h1>
        </div>
        <img ngSrc="/imagemain.png" width="669" height="533">
    </section>
    <section class="benefit-section">
        <div class="benefit-data">
            <h2>
                 95% das <br>
            empresas
            </h2>
           
        </div>
        <p>não sabem como lidar com problemas de
             <b>escabilidade</b> e grnade volume de requisições.</p>
    </section>

    <section class="cta-section">
        <app-btn-primary btn-text="Fale com nossos especialistas">

        </app-btn-primary>
    </section>
    <app-newsletter-form>
        
    </app-newsletter-form>

    <app-team/>

    <!-- Nova seção final -->
    <section class="final-cta-section">
        <h2>Quer elevar seu software e seus negócios para outro nível?</h2>
        <section class="cta-section">
        <app-btn-primary btn-text="Fale com nossos especialistas">

        </app-btn-primary>
    </section>
    </section>

    <!-- Rodapé -->
    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <img src="logoangular.png" alt="">
            </div>
            <div class="social-icons">
                <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/instagram.svg" alt="Instagram">
                </a>
                <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/facebook.svg" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>
</main>