
<app-header></app-header>

<main>
    <section class="main-section">
        <div class="headline">
            <span>VICTOR CONSULTORIA</span>
            <h1>A consultoria que você busca para o seu software.</h1>
        </div>
        <img ngSrc="/imagemain.png" width="669" height="533">
    </section>
    <section class="benefit-section">
        <div class="benefit-data">
            <h2>
                 95% das <br>
            empresas
            </h2>
           
        </div>
        <p>não sabem como lidar com problemas de
             <b>escabilidade</b> e grnade volume de requisições.</p>
    </section>

    <section class="cta-section">
        <app-btn-primary btn-text="Fale com nossos especialistas">

        </app-btn-primary>
    </section>
</main>